[package]
name = "lapin"
version = "2.3.1"
edition = "2021"
authors = ["Geoffroy Couprie <geo.couprie@gmail.com>", "Marc-Antoine Perennou <Marc-Antoine@Perennou.com>"]
description = "AMQP client library"
repository = "https://github.com/amqp-rs/lapin"
readme = "README.md"
documentation = "https://docs.rs/lapin"
keywords = ["amqp", "rabbitmq", "mio", "futures"]
categories = ["database"]
license = "MIT"
build = "build.rs"
rust-version = "1.63.0"

[features]
default                   = ["rustls", "default-runtime"]
default-runtime           = ["async-global-executor-trait", "async-reactor-trait"]
codegen                   = ["codegen-internal", "amq-protocol/codegen"]
codegen-internal          = ["amq-protocol-codegen", "serde_json"]
native-tls                = ["amq-protocol/native-tls"]
openssl                   = ["amq-protocol/openssl"]
rustls                    = ["rustls-native-certs"]
rustls-native-certs       = ["amq-protocol/rustls-native-certs"]
rustls-webpki-roots-certs = ["amq-protocol/rustls-webpki-roots-certs"]
vendored-openssl          = ["amq-protocol/vendored-openssl"]

[build-dependencies.amq-protocol-codegen]
version = "^7.0"
optional = true

[build-dependencies.serde_json]
version = "^1.0"
optional = true

[dependencies.amq-protocol]
version = "^7.0"
default-features = false

[dependencies.async-global-executor-trait]
version = "^2.1"
features = ["async-io"]
optional = true

[dependencies.async-reactor-trait]
version = "^1.1"
optional = true

[dependencies.flume]
version = "^0.10"
default-features = false
features = ["async"]

[dependencies.serde]
version  = "^1.0"
features = ["derive"]

[dependencies.tracing]
version = "^0.1"
default-features = false

[dependencies]
async-trait = "^0.1.42"
executor-trait = "^2.1"
futures-core = "^0.3"
futures-io = "^0.3"
parking_lot = "^0.12"
pinky-swear = "^6.1"
reactor-trait = "^1.1"
waker-fn = "^1.1"

[dev-dependencies]
async-global-executor = "^2.0"
futures-lite = "^1.7"
serde_json = "^1.0"
waker-fn = "^1.1"
tokio = { version = "1.17.0", features = ["full"] }
tokio-executor-trait = "2.1.0"
tokio-reactor-trait = "1.1.0"

[dev-dependencies.tracing-subscriber]
version = "^0.3"
features = ["fmt"]

[[example]]
name = "custom_tls_connection"
required-features = ["native-tls"]

[badges]
maintenance = { status = "actively-developed" }
